apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluxroute-controlplane
  namespace: fluxroute
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fluxroute-controlplane
  template:
    metadata:
      labels:
        app: fluxroute-controlplane
    spec:
      containers:
        - name: controlplane
          image: fluxroute-controlplane:dev
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: fluxroute-controlplane-config
          ports:
            - containerPort: 8081
              name: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
